.gradle
.idea
*.iml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
/*/build/
*.log
*.nav
*.navData
*.swp
*~
.settings/
.loadpath
.recommenders
.target
.classpath
.project
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
node_modules/
dist/
tmp/
